*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
.header{font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;font-size: 50px; margin-top: 30px;margin-left: 60px;
}
.main-content{ display: grid; grid-template-columns: 1fr 1fr 1fr 1fr;gap: 40px; margin-top: 40px; margin-left: 60px; margin-right: 60px;
}
.one img{width: 35px; border: 50%; padding-bottom: 20px;
}
.one{border: 2px solid black; border-radius: 20px; padding-left: 20px; padding-top: 20px;padding-bottom: 20px;}
.two img{width: 35px; border: 50%; padding-bottom: 20px;
}
.two{border: 2px solid black; border-radius: 20px; padding-left: 20px; padding-top: 20px; background-color: blue; color: aliceblue;}
h2{padding-bottom: 20px;}